body {
	padding: 0;
	margin: 0; 
}

html, body, #map { 
	height: 100%;
	}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
	background: #00BFAC;
	opacity: 0.8;
	color: #ffffff;
}

.custom .leaflet-container a.leaflet-popup-close-button {
	color: #ffffff;
}